body {
  overflow-x: hidden;
}

html {overflow-y:auto;} html {overflow-x:hidden;}

p {
  line-height: 1.55;
}

@media screen and (max-width: 600px) {

  #logo {
    visibility: hidden;
    clear: both;
    display: none;
  }
   .intro-text {
    margin-top: 50px;
    padding-bottom: 250px !important;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (min-width: 500px) {
  #Mobile-logo {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
   .intro-text {
    padding-top: 200px;
    padding-bottom: 150px;
    padding-left: 40px;
    text-align: justify;
    /* For Edge */
    text-align-last: center;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 400;
  }
}

a {
  position: relative !important;
  color: #fff !important;
  text-decoration: none !important;
}

/* a:hover {
  color: #fff !important;
} */


a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

section {
  padding: 100px 0;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
  font-size: 12px;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #00a695;
  border-color: #00a695;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #00a695 !important;
  border-color: #00a695 !important;
  color: white;
}

.btn-primary:active,
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* #main-nav-mobile {
  background-color: #1c223f;
} */

/* #nav-mobile {
  background-color: #1c223f;
} */



.nav-mobile-collapse {
  background-color: #1c223f;
  margin-top: -1px;
}

#mainNav {
  background-color: #1c223f;
}

.navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: none !important;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

.about-us {
  margin-top: 220px;
}

@media only screen and (max-width: 767px) {

  .about-us {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    display: block !important;
    margin: auto auto auto auto !important;
  }

  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }

  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #1c223f;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}


.team-member {
  margin-bottom: 50px;
  text-align: center;
}


.team-member p {
  margin-top: 0;
}

footer {
  padding: 25px 0;
  text-align: center;
}


/* UPDATED CSS */

  .navbar-nav>li {
    padding-left: 27px;
    padding-right: 27px;
    font-size: 16px;
  }

  .intro-text-color-p {
    color: #00a594;
  }

  .fa {
    color: #00a594;
  }

  .p-grey {
    color: grey;
    font-family: 'Roboto';
    font-weight: 700;
    text-align: justify;
    text-align-last: unset center;
  }

  br {
    display: block !important;
    margin: 1px 0 !important;
  }

  .nav-flex-row{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .margin-top {
    margin-top: 100px;
  }

  .img-center1 {
    text-align: justify;
    text-align-last: center;
    margin-top: 100px;
  }

  .intro-text {
    text-indent: 1.5px !important;
  }

  .about-back {
    background-color: #f8f8f8;
  }

  .about-back-2 {
    position: relative;
    margin-top:-95px;
  }

  .collapsebar-main {
    display:flex;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto';
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    border-bottom: 1px solid #000000;
  }

  .collapsebar-main a {
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
  }

  .partner-back {
    background-color: #f8f8f8;
  }

  .about-box {
    background-image: url("img/svg/Product.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  .box-main {
    display: flex;
  }

  header.masthead {
    padding-top: 35px;
    color: white;
    max-width: 100%;
    background-image: url('../img/png/main_banner.png');

    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  header.masthead .intro-text {
    padding-left: 40px;
    text-align: justify;
    /* For Edge */
    text-align-last: left;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px; 
    font-weight: 400;
  }

  .intro-text-banner {
    padding-top: 230px;
    padding-bottom: 330px;
    margin-bottom: unset;
    padding-left: 20px;
    text-align: left;
    /* For Edge */
    text-align-last: left;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 400;
  }

  .section-heading-span {
    border-bottom: 2px solid #df6b65;
    border-bottom-style: dashed;
  }

  #section-heading-portfolio {
    padding-top:75px;
  }


  .img-mac {
    position: absolute;
    text-align: justify !important;
    text-align-last: right !important;
    height: 433px;
    right: 0;
    width: 700px;
    margin-top:-180px;
  }

  section h4.section-heading {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    text-decoration-color: #df6b65;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #df6b65 !important;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding-bottom: 5px !important;
    font-size: 16px;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .about-padding {
    padding-top: 50px;
  }

  .text-grey {
    color: #818181;
    font-family: 'Roboto';
    font-size: 16px !important;
    font-weight: 300;
    line-height: 1.75;
  }

  .about-description {
    padding: 0px 90px 0px 90px;
    padding-bottom: 12px;
  }

  #about-description-1 {
    padding-top:8px;
  }

  section h3.section-subheading {
    font-size: 16px;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .bottom-slice {
    position: relative;
  }

  /* left */
  .bottom-slice:after {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    transform: rotate(-90deg);
    left: 0;
    bottom: -1px;
  }

  /* right */
  .bottom-slice:before {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    transform: rotate(180deg);
    right: -1px;
    bottom: -1px;
  }

  .product-card {
    padding: 2rem;
  }

  .productcard1 {
    margin-top: 30px;
    margin-left: 68px;
    margin-right: 68px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16) !important;
  }

  h5.about-text {
    font-weight: 500;
    color: #707070;
    text-decoration-style: solid;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 18px;
  }

  .product-section {
    padding-top: unset;
  }

  .product-container {
    padding-right: 50px;
    padding-left: 50px;
  }

  .product-description {
    font-size: 16px;
    color: #818181;
    text-align: justify;
    font-family: 'Roboto';
    margin-top:30px;
    line-height: 1.75;
  }

  .product-image {
    max-width:100%;
    margin-top: 55px;
  }

  .product-title-span {
    border-bottom: 2px solid #707070;
    padding-bottom:8px;
  }

  .product-card-body {
    padding: 55px 49px 55px 49px;
  }

  .product-main {
    position: relative;
  }

  .top-slice {
    position: relative;
  }

  /* left  */
  .top-slice:after {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* right */
  .top-slice:before {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    top: 0;
  }



  .about-main-div {
    display: grid;
    grid-template-columns: 6% 88% 6%;
    background-color: #1e1f40;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .about-div2 {
    text-align:center;
    font-family:'Roboto';
    color:white;
    padding-top: 87px;
    padding-bottom: 87px;       
    padding-left:235px;
    padding-right: 235px;
  }

  .about-div3 {
    padding-bottom:20px;
  }

  .about-div3-span1 {
    /* padding-right:30px; */
  }

  .faquote-lg {
    text-align: left;
  }

  .about-div3-span2 {
    padding-left: 15px;
    font-size: 23px;
  }

  .writer-span {
    font-size: 23px;
  }

  .writer-span-2 {
    float:right;
  }

  .affiliation-back{
    background-color: #f8f8f8;
  }

  .testimonial-section {
    padding-top: unset;
  }

  .testimonial-user {
    color:#707070;
    font-size:20px;
    font-weight: 600;
    padding-bottom: 5px;
    font-family:'Roboto'"
  }

  .testimonial-user-designation {
    font-size:13px;
    font-family:'Roboto';
    color: #707070;
  }

  .testimonial-description {
    font-size:16px;
    padding-left: 90px;
    padding-right: 90px;
    font-family:'Roboto';
    color: #818181;
  }

  .testimonial-heading-div {
    padding-bottom:55px;
  }

  .partner-section {
    padding-top:30px;
    padding-bottom: 30px;
  }

  .partner-div-padding {
    padding-top:40px;
  }

  .affiliation-section {
    padding-top:30px;
    padding-bottom: 175px;
  }

  .top-expand {
    position: relative;
  }

  /* left  */
  .top-expand:after {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    transform: rotate(270deg);
    left: -1px;
    top: -89px;
  }

  /* right */
  .top-expand:before {
    content: '';
    display: block;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 90px solid #f8f8f8;
    position: absolute;
    transform: rotate(180deg);
    right: -1px;
    top: -89px;
  }

  .top-expand-blue:after , .top-expand-blue:before {
    border-left: 90px solid #1e1f40;
  }

  .card-image-div-main {
    background-color: #f8f8f8;
    border: 3px solid white !important;
    display: flex;
  }

  .card-image-div-1 {
    flex: 1;
  }

  .card-image-div-2 {
    flex: 2;
  }

  .card-image-div-3 {
    flex: 1;
  }

  .card-description-main {
    border: 1px solid white !important;
    background-color: #f8f8f8;
  }

  .about-section-quote {
    padding-top:unset;
    padding-bottom: unset;
  }

  .about-section {
    padding-bottom: unset !important;
  }

  .footer-main {
    display: flex;
  }

  .footerD {
    background-color:#1e1f40;
    color:white;
    font-family: 'Roboto';
    font-size: 12px;
    font-family: 'Roboto';
  }


  .footer-1 {
    flex: 1;
    text-align: left;
    padding-left: 25px;
  }

  .footer-2 {
    flex: 1;
  }

  .footer-3 {
    flex: 1;
    text-align: right;
    padding-right: 25px;
  }

  .btn {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    font-size: 12px;
  }

  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .nav-underline:before {
    content: '';
    position: absolute;
    width: 31px;
    height: 2px;
    bottom: 0;
    left: 30%;
    background-color: #ffffff !important;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .testimonial-a:before {
    left: 40%;
  }

  #t-user-designation-1 {
    margin-bottom: 0;
  }

  footer {
    padding: 10px 0;
    text-align: center;
  } 

  .team-member img {
    width: unset;
    height: unset;
    border: 7px solid #fff;
  }

  .team-member h4 {
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: none;
  }

  .active {
    color: #00a594 !important;
    /* background-color: #00a594; */
  }


  @media only screen and (max-width: 1024px) {
  .img-mac {
    width: 570px;
    height: unset;
    margin-right: 30px;
  }

  .about-padding {
    padding-top: unset;
  }

  .about-div2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 160px;
    padding-right: 160px;
  }

  .testimonial-description {
    padding-left: 85px;
    padding-right: 85px;
  }

  }

  @media only screen and (max-width: 992px) {
  .intro-text-banner {
    font-size: 24px;
    padding-top: 110px;
    padding-bottom: 242px;
  }

  .nav-flex-row {
    padding-right: 35px !important;
    padding-left: 50px !important;
  }

  .about-us {
    margin-top: 60px;
  }

  .img-mac {
    width: 395px;
    height: 433px;
  }

  section h4.section-heading {
    font-size: 16px;
  }

  .text-grey {
    font-size: 14px !important;
  }

  .about-description {
    padding: 0px 40px 0px 40px;
  }

  #section-heading-portfolio {
    padding-top: 15px;
  }

  .productcard1 {
    margin-top: 30px;
    margin-left: 53px;
    margin-right: 53px;
    display: flex;
    flex-direction: column-reverse;
  }

  .product-card2-direction {
    flex-direction: column;
  }

  .card-image-div-main{
    flex: 1;
  }

  .card-description-main {
    flex: 1;
  }

  h5.about-text {
    font-size: 16px;
    text-align: center;
  }

  .product-description {
    font-size: 14px;
    text-align: center;
  }

  .product-card-body {
    padding: 22px 49px 30px 49px;
  }

  .product-image {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .product-section {
    padding-bottom: 60px;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-div2 {
    /* padding-left: 127px;
    padding-right: 127px; */
    padding-left: 110px;
    padding-right: 110px;
  }

  .about-div3-span2 {
    font-size: 18px;
  }

  .about-main-div {
    padding-top: 35px;
    padding-bottom: 18px;
  }

  .writer-span {
    font-size: 18px;
  }

  .affiliation-section {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .affiliation-padding {
    padding-top:40px;
  }

  .testimonial-heading-div {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .testimonial-user {
    font-size:14px;
  }

  .testimonial-user-designation {
    font-size: 12px;
  }

  .testimonial-description {
    font-size: 14px;
  }

  .testimonial-description {
    padding-left: 50px;
    padding-right: 50px;
  }

  .testimonial-section {
    padding-bottom: 35px;
  }

  /* left */
  .bottom-slice:after {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;
  }

  /* right */
  .bottom-slice:before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;
  }

  /* left  */
  .top-expand:after {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;
    top: -59px;
  }

  /* right */
  .top-expand:before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;
    top: -59px;
  }

  .top-expand-blue:after , .top-expand-blue:before {
    border-left: 60px solid #1e1f40;
  }

  /* left */
  .top-slice:after {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;

  }

  /* right */
  .top-slice:before {
    border-bottom: 60px solid transparent;
    border-left: 60px solid #f8f8f8;
  }

  .footer-main {
  }

  }

  @media only screen and (max-width: 768px) {
  .img-mac {
    margin-right: 30px;
  }
  }

  @media only screen and (min-width: 768px) {
  section {
    padding: 115px 0;
  }
  }

  @media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
  }
  }

  @media only screen and (max-width: 425px) {

  .navbar-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .collapsebar-main {
    font-size: 10.5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-flex-row {
    padding-right: 10px !important;
    padding-left: 30px !important;
  }

  .intro-text-banner {
    font-size: 21px;
    padding-top: 90px;
    padding-left: 30px;
    padding-bottom: 200px;
    line-height: 25px;
  }

  .img-mac {
    width: 259px;
    height: 481px;
  }

  #about-description-1 {
    padding-top: unset;
    padding-bottom: 5px;
  }

  #about-description-2 {
    padding-bottom: 5px;
  }

  #about-description-3 {
    padding: 0px 14px 0px 14px;
  }

  .about-description {
    padding: 0px 20px 0px 20px;
  }

  #section-heading-portfolio {
    padding-top: unset;
  }

  .productcard1 {
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
  }

  .product-card-body {
    padding: 22px 13px 30px 13px;
  }

  .product-description {
    padding-right: 8px;
    padding-left: 8px;
    line-height: 20px;
  }

  .product-description-t-m {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .card-group>.card {
    margin-bottom: 0px;
  }

  .product-image {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .product-image-t-m {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .product-section {
    padding-bottom: 15px;
  }

  .about-div3-span2 {
    font-size: 12px;
  } 

  .about-div2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-main-div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-div3-span1 {
    padding-right: 5px;
  }

  .writer-span {
    font-size: 12px;
  } 

  /* left */
  .bottom-slice:after {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;
  }


  /* right */
  .bottom-slice:before {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;
  }

  /* left  */
  .top-expand:after {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;
    top: -24px;
  }

  /* right */
  .top-expand:before {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;
    top: -24px;
  }

  .top-expand-blue:after , .top-expand-blue:before {
    border-left: 25px solid #1e1f40;
  }

  /* left */
  .top-slice:after {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;

  }

  /* right */
  .top-slice:before {
    border-bottom: 25px solid transparent;
    border-left: 25px solid #f8f8f8;
  }

  .partner-div-padding {
    padding-top: 15px;
  }

  .t-m-p {
    padding-bottom: 57px;
  }

  .affiliation-section {
    padding-top: 5px;
    padding-bottom: 55px;
  }

  .affiliation-padding {
    padding-top:18px;
  }

  .testimonial-heading-div {
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .testimonial-section {
    padding-bottom: 70px;
  }

  .footerD {
    font-size: 9px;
  }


  .footer-1 {
    text-align: center;
    padding-left: unset;
  }

  .footer-2 {
    flex: 1;
  }

  .footer-3 {
    text-align: center;
    padding-right: unset;
  }

  .footer-main {
    flex-direction: column;
  }


  }


  @media only screen and (min-width:426px) and (max-width:767px) {
    .product-card-body {
      padding: 22px 40px 30px 40px;
    }

    .product-card {
      padding: 1.5rem;
    }

    .about-div2 {
      padding-left: 30px;
      padding-right: 30px;
    }

    .t-m-767 {
      padding-bottom: 65px;
    }

    .testimonial-description {
      padding-left: 25px;
      padding-right: 25px;
    }

    .footer-2 {
      flex: 0 
    }

    .footer-3 {
      flex: 2;
      padding-right: 20px;
    }

    .about-div2 {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    /* left */
    .bottom-slice:after {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;
    }


    /* right */
    .bottom-slice:before {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;
    }

    /* left  */
    .top-expand:after {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;
      top: -34px;
    }

    /* right */
    .top-expand:before {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;
      top: -34px;
    }

    .top-expand-blue:after , .top-expand-blue:before {
      border-left: 35px solid #1e1f40;
    }

    /* left */
    .top-slice:after {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;

    }

    /* right */
    .top-slice:before {
      border-bottom: 35px solid transparent;
      border-left: 35px solid #f8f8f8;
    }

    .img-mac {
      margin-right: 15px;
    }
  }


  @media only screen and (max-width:375px) {
  .productcard1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .about-div3-span2 {
    padding-left: 8px;
    font-size: 11px;
  }
  }

  @media only screen and (max-width:325px) {
    .productcard1 {
      margin-left: 1px;
      margin-right: 1px;
    }

    .product-container {
      padding-right: 35px;
      padding-left: 35px;
    }

    .about-description {
      padding: 0px 1px 0px 1px;
    }

    .about-div2 {
      padding-left: 6px;
      padding-right: 6px;
    }

    .about-div3-span2 {
      padding-left: unset;
      font-size: 11px;
    }

    .writer-span {
      font-size: 11px;
    }

    .testimonial-nav{
      padding-right: 20px;
    }
  
  }

  @media only screen and (min-width:500px) and (max-width:768px) { 
    .product-image {
      padding-left: 75px;
      padding-right: 75px;
  }
}